html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

/* variable declarations */

:root {
  --headingColor: rgb(56, 49, 49);
  --buttonBackgroundColor: rgb(123, 123, 145);
}

/* Fonts */

/* font-family: 'Indie Flower', cursive;

font-family: 'Secular One', sans-serif; */

/* stripping  */

header,
section,
.yearSection,
div,
h1,
h2,
form,
ul,
li,
p {
  text-align: center;
  padding: 0;
  margin: 0;
}

/* Global */

html{
  font-size: 62.5%;
}

.wrapper {
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;
}

h1,
h2,
h3 {
  font: 400 clamp(2rem, 5vw, 4rem) 'Secular One', sans-serif;

  color: var(--headingColor);
}

li {
  list-style: none;
}

textarea {
  font: 400 clamp(2em, 10vw, 2.5rem) 'Indie Flower', cursive;

  resize: none;
  
  min-width: 300px;
  width: 50%;
  height: 300px;
  padding: 10px 0 0 10px;
}

/* Buttons */

.buttons {
  font: 400 clamp(1.5rem, 100vw, 2rem) 'Secular One', sans-serif;
  color: var(--headingColor);

  width: 20rem;
  padding: 5px;
  margin-top: 15px; 

  border-radius: 30px;
  border: none;
}

.buttons:hover,
.buttons:focus {
      background-color: var(--buttonBackgroundColor);

      transition: .5s all;
      transform: translateY(-5px);

      cursor: pointer;
  } 

/* Background Images */

.boxingDay {
  background-image: url(./assets/boxingDay/boxingDayHeader.jpg);
}

.canadaDay {
  background-image: url(./assets/canadaDay/canadaDayHeader.jpg);
}

.christmasDay {
  background-image: url(./assets/christmas/christmasHeader.jpg);
}

.easterMonday {
  background-image: url(./assets/easterMonday/easterHeader.jpg);
}

.goodFriday {
  background-image: url(./assets/goodFriday/goodFridayHeader.jpg);
}

.labourDay {
  background-image: url(./assets/labourDay/labourDayHeader.jpg);
}

.newYearsDay {
  background-image: url(./assets/newYearsEve/newYearsEveHeader.jpg);
}

.remembranceDay {
  background-image: url(./assets/remembranceDay/remembranceDayHeader.jpg);
}

.thanksgivingDay {
  background-image: url(./assets/thanksgiving/thanksgivingHeader.jpg);
}

.victoriaDay {
  background-image: url(./assets/victoriaDay/victoriaDayHeadeer.jpg);
}

/* Header */

header {
  background-image: url(./assets/maldives.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  
  width: 90;
  height: 75vh;
  border-radius: 30px;
}

.yearSection {
  background-color: rgb(245, 227, 195);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 50px;
  min-width: 420px;
  width: 40%;
  height: 50%;
  border-radius: 30px;
}

/* user Year Input */

.yearInput,
.dropdown  {
  font: 400 2rem 'Secular One', sans-serif;

  padding-left: 20px;
  height: 40px;
  width: 100%;
  border-radius: 30px;

  border: none;
}
.yearInput:hover,
.dropdown:hover
.yearInput:focus,
.dropdown:focus {
  border: 2px solid var(--headingColor);
}

.headerButtonContainer button:nth-child(1) {
  width: 100%;
}

.dropdown {
  margin-top: 20px;
  border-radius: 30px 0 0 30px;
}

/* main */

.holidayPlansSection {
  background-color: rgb(245, 227, 195);

  height: min-content;
}

.mainContainerOne {
  display: flex;
  justify-content: center;

  margin-top: 50px;
  padding: 50px 0 50px;
  max-height: max-content;
}

.mainContentOne {
  height: 400px;
  width: 80%;
}

.mainImage {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  width: 50%;
  height: 75vw
}
.firebaseDataSection {
  padding: 20px 0 100px;
}

/* footer */

footer {
  background-color: rgb(245, 227, 195);

  height: 15vh;
  padding-top: 30px;
}

p,
a {
  font: 400 2rem 'Secular One', sans-serif;
}

/* media queries */

/* Portrait tablet and small desktops */
@media (max-width: 940px) {
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
}

/* Landscape phones and down */
@media (max-width: 480px) {
}
